dataCenterCreate.json
{
    "id": "e39f04574007dfd5",
    "type": "subflow",
    "name": "dataCenterCreate",
    "info": "",
    "category": "storage",
    "in": [
        {
            "x": 50,
            "y": 30,
            "wires": [
                {
                    "id": "70804850c200bbc8"
                }
            ]
        }
    ],
    "out": [],
    "env": [],
    "meta": {
        "module": "node-red-data-create",
        "type": "data-create",
        "version": "0.0.2",
        "author": "wei1224hf@gmail.com",
        "desc": "node-red-data-create",
        "keywords": "data-create",
        "license": "BSD-3-Clause"
    },
    "color": "#DDAA99",
    "icon": "node-red/leveldb.svg",
    "flow": [
        {
            "id": "08fccb3f52ed8d9f",
            "type": "sqlite",
            "z": "e39f04574007dfd5",
            "mydb": "sqlitedb_id",
            "sqlquery": "msg.topic",
            "sql": "",
            "name": "",
            "x": 440,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "70804850c200bbc8",
            "type": "function",
            "z": "e39f04574007dfd5",
            "name": "function 42",
            "func": "msg.topic = \"\"+\n\" CREATE TABLE device (   \"+\n\"   name       VARCHAR (200) NOT NULL,   \"+\n\"   code       VARCHAR (200),   \"+\n\"   request      INT,   \"+\n\"   response     INT,   \"+\n\"   state       INT,   \"+\n\"   id        INTEGER    PRIMARY KEY AUTOINCREMENT,   \"+\n\"   type       INT,   \"+\n\"   key_component   VARCHAR (200),   \"+\n\"   product_name   VARCHAR (200),   \"+\n\"   product_barcode  VARCHAR (200),   \"+\n\"   takt       FLOAT,   \"+\n\"   time_run     DATETIME,   \"+\n\"   connect_address,   \"+\n\"   connect_type,   \"+\n\"   operator     VARCHAR (200),   \"+\n\"   operator_nickname VARCHAR (200),   \"+\n\"   time_created   DATETIME,   \"+\n\"   user_created   VARCHAR (200),   \"+\n\"   time_lastupdated DATETIME,   \"+\n\"   user_lastupdated VARCHAR (200)    \"+\n\" );   \";\n\nnode.send(msg);\n\nmsg.topic = \"\"+\n\"\tCREATE TABLE device_datas (\t\t\"+\n\"\t device VARCHAR (200),\t\t\"+\n\"\t address VARCHAR (200),\t\t\"+\n\"\t name VARCHAR (200),\t\t\"+\n\"\t code VARCHAR (200),\t\t\"+\n\"\t value FLOAT,\t\t\"+\n\"\t mode VARCHAR (200),\t\t\"+\n\"\t type VARCHAR (200),\t\t\"+\n\"\t isSaveOnChange BOOLEAN,\t\t\"+\n\"\t id INTEGER PRIMARY KEY AUTOINCREMENT\t\t\"+\n\"\t);\t\t\";\n\nnode.send(msg);",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 210,
            "y": 80,
            "wires": [
                [
                    "08fccb3f52ed8d9f"
                ]
            ]
        }
    ]
}